<div id="sidebar" class="sidebar">
  <ul class="sidebar-ul">
    <li>
      <a href="/company-dashboard/<%= company._id %>"><- Back</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/general">General</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/research">Research</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/product">Product</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/marketing">Marketing</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/legal">Legal</a>
    </li>
    <li>
      <a href="/company-dashboard/<%= company._id %>/checklist/financials">Financials</a>
    </li>
    
    <hr>

    <li>
      <a href="/homebase/<%= currentUser._id %>/profile">Profile</a>
    </li>
    <li>
      <a href="/logout">Sign Out</a>
    </li>
  </ul>
</div>
