<div class="sidebar">
  <ul>
    <h2>User</h2>
    <li>
      <a href="/homebase/user/<%= currentUser._id %>">
        <% if(page === 'profile') { %>
          <%= '>' %>
        <% } %>
        Profile
      </a>
    </li>
    <li>
      <a href="/homebase/user/<%= currentUser._id %>/my-messages">
        <% if(page === 'my-messages') { %>
          <%= '>' %>
        <% } %>
        My Messages
      </a>
    </li>

    <hr>

    <h2>Company</h2>
    <li>
      <a href="/homebase/company/my-companies">
        <% if(page === 'my-companies') { %>
          <%= '>' %>
        <% } %>
        My Companies
      </a>
    </li>
    <li>
      <a href="/homebase/company/create">
        <% if(page === 'create-company') { %>
          <%= '>' %>
        <% } %>
        Create Company
      </a>
    </li>

    <hr>

    <h2>Startup resources</h2>
    <li>
      <a href="/homebase/startup-resources/startups">
        <% if(page === 'startups') { %>
          <%= '>' %>
        <% } %>
        Startups
      </a>
    </li>
    <li>
      <a href="/homebase/startup-resources/talent">
        <% if(page === 'talent') { %>
          <%= '>' %>
        <% } %>
        Talent
      </a>
    </li>
    <li>
      <a href="/homebase/startup-resources/service-providers">
        <% if(page === 'service-providers') { %>
          <%= '>' %>
        <% } %>
        Service Providers
      </a>
    </li>
  </ul>
</div>
