<div class="sidebar">
  <ul>
    <li>
      <a href="/homebase/user/<%= currentUser._id %>">
        <% if(page === 'profile') { %>
          <%= '>' %>
        <% } %>
        Profile
      </a>
    </li>

    <!-- <li>
      <a href="/homebase/user/<%= currentUser._id %>/my-messages">
        <% if(page === 'my-messages') { %>
          <%= '>' %>
        <% } %>
        My Messages
      </a>
    </li> -->

    <li>
      <a href="/homebase/user/<%= currentUser._id %>/invites">
        <% if(page === 'invites') { %>
          <%= '>' %>
        <% } %>
        Invites
      </a>
    </li>

    <li>
      <a href="/homebase/company/my-companies">
        <% if(page === 'my-companies') { %>
          <%= '>' %>
        <% } %>
        My Companies
      </a>
    </li>

    <li>
      <a href="/homebase/startup-resources/service-providers">
        <% if(page === 'service-providers') { %>
          <%= '>' %>
        <% } %>
        Service Providers
      </a>
    </li>

    <hr>

    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/logout">Logout</a>
    </li>

  </ul>
</div>
