<div id="user-data-store">
  <input id="userId" type="text" value="<%= currentUser._id %>" type="hidden">
  <input id="userName" type="text" value="<%= currentUser.name %>" type="hidden">
  <input id="userHideChat" type="text" value="<%= currentUser.hideChat %>" type="hidden">
  <input id="companyId" type="text" value="<%= company._id %>" type="hidden">
  <input id="companyName" type="text" value="<%= company.name %>" type="hidden">
  <input id="chatId" type="text" value="<%= company.chat %>" type="hidden">
</div>
