<% include ../partials/company/head-open %>
<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard/bulletin-board.css">
<% include ../partials/company/head-close %>

<div class="content">

  <div class="page-description">
    <h2>Bulletin Board</h2>
    <p>
      The bulletin page is where you can communicate directly with the rest of the team.
    </p>
  </div>

  <div class="bulletins">

    <ul class="bulletin-board">

      <% if (company.bulletin.bulletins.length === 0) { %>
        <li class="bulletin-message-container">
          <h3 class="bulletin-timestamp">
            No bulletins have been posted yet...
          </h3>
        </li>
      <% } else { %>
        <% for (bulletin of company.bulletin.bulletins){ %>
          <li class="bulletin-message-container">
            <h3 class="bulletin-timestamp">
              <%= bulletin.date %> at <%= bulletin.time %> - <%= bulletin.name.split(' ')[0] %>
            </h3>
            <p class="bulletin-message">
              <%= bulletin.message %>
            </p>
          </li>
          <hr>
        <% } %>
      <% } %>

    </ul>

    <form class="post-bulletin-message-form" action="/company_dashboard/<%= company._id %>/bulletin-board" method="post">
      <textarea class="post-bulletin-message" name="bulletin[message]" placeholder="Post a message..."></textarea>
      <input type="hidden" name="bulletinId" value="<%= company.bulletin._id %>">
      <input type="hidden" name="bulletin[submittedBy]" value="<%= currentUser._id %>">
      <input type="hidden" name="bulletin[name]" value="<%= currentUser.name %>">
      <button class="post-bulletin-btn">POST BULLETIN</button>
    </form>

  </div>

</div>



<% include ../partials/company/footer %>
