<% include ../partials/company/header %>

<div class="content">
	<h1>Invite Team Members</h1>

	<form action="/user_profile/<%= currentUser._id %>/company_dashboard/<%= company._id %>/team/invite" method="post">
		<input type="text" name="invitee" required>
		<input type="hidden" name="invite[inviter]" value="<%= currentUser.name.split(' ')[0] %>">
		<input type="hidden" name="invite[companyId]" value="<%= company._id %>">
		<input type="hidden" name="invite[companyName]" value="<%= company.name %>">
		<input type="radio" name="invite[admin]" value=true required> Admin
		<input type="radio" name="invite[admin]" value=false requied> Member
		<button>Invite</button>
	</form>

</div>

<% include ../partials/company/footer %>
